## Deliverable 2. Create a Customer Travel Destinations Map.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [36]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\Jhonatan\\Documents\\DATA Analytics Bootcamp\\06-APIs\\World_Weather_Analysis\\Weather_Database\\WeatherPy_Database.csv")
city_data_df.head()

,,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.92,77,75,11.50,broken clouds
1,1,Inuvik,CA,68.3499,-133.7218,74.16,50,75,5.75,broken clouds
2,2,Albany,US,42.6001,-73.9662,93.09,60,93,1.01,overcast clouds
3,3,East London,ZA,-33.0153,27.9116,61.74,63,0,14.97,clear sky
4,4,Hilo,US,19.7297,-155.0900,77.61,76,20,6.91,few clouds

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.92,77,75,11.50,broken clouds
4,4,Hilo,US,19.7297,-155.0900,77.61,76,20,6.91,few clouds
10,10,Lasem,ID,-6.6922,111.4527,77.63,86,66,5.77,broken clouds
11,11,Manggar,ID,-2.8833,108.2667,80.17,77,100,4.79,moderate rain
15,15,Itarema,BR,-2.9248,-39.9167,85.50,56,5,12.80,clear sky
25,25,Butaritari,KI,3.0707,172.7902,82.04,78,99,13.69,light rain
26,26,Arraial Do Cabo,BR,-22.9661,-42.0278,82.36,54,0,10.36,clear sky
29,29,Takoradi,GH,4.8845,-1.7554,77.86,84,100,10.87,overcast clouds
33,33,Jamestown,US,42.0970,-79.2353,88.18,76,75,3.00,broken clouds
38,38,Bardiyah,LY,31.7561,25.0865,81.84,62,0,10.40,clear sky

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

                       753
City                   753
Country                753
Lat                    753
Lng                    753
Max Temp               753
Humidity               753
Cloudiness             753
Wind Speed             753
Current Description    753
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
del preferred_cities_df[' ']
preferred_cities_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Kapaa,US,22.0752,-159.3190,80.92,77,75,11.50,broken clouds
4,Hilo,US,19.7297,-155.0900,77.61,76,20,6.91,few clouds
10,Lasem,ID,-6.6922,111.4527,77.63,86,66,5.77,broken clouds
11,Manggar,ID,-2.8833,108.2667,80.17,77,100,4.79,moderate rain
15,Itarema,BR,-2.9248,-39.9167,85.50,56,5,12.80,clear sky
...,...,...,...,...,...,...,...,...,...
1931,Sand Springs,US,36.1398,-96.1089,82.11,81,75,5.75,broken clouds
1934,Neftcala,AZ,39.3742,49.2472,81.55,70,38,11.65,scattered clouds
1935,Morales,CO,2.7570,-76.6172,75.52,55,13,4.38,few clouds
1936,Wuning,CN,29.2589,120.2311,75.31,98,75,2.46,broken clouds
1941,Barreirinhas,BR,-2.7469,-42.8264,87.76,52,7,2.04,light rain

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.92,broken clouds,22.0752,-159.3190,
4,Hilo,US,77.61,few clouds,19.7297,-155.0900,
10,Lasem,ID,77.63,broken clouds,-6.6922,111.4527,
11,Manggar,ID,80.17,moderate rain,-2.8833,108.2667,
15,Itarema,BR,85.50,clear sky,-2.9248,-39.9167,
25,Butaritari,KI,82.04,light rain,3.0707,172.7902,
26,Arraial Do Cabo,BR,82.36,clear sky,-22.9661,-42.0278,
29,Takoradi,GH,77.86,overcast clouds,4.8845,-1.7554,
33,Jamestown,US,88.18,broken clouds,42.0970,-79.2353,
38,Bardiyah,LY,81.84,clear sky,31.7561,25.0865,

In [17]:
# Set the parameters to search for a hotels

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#6b. Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
     # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 6b. Iterate through the hotel DataFrame.
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.92,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Hilo,US,77.61,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Lasem,ID,77.63,broken clouds,-6.6922,111.4527,"Nyah Lasem | Museum, Guest House & Community C..."
11,Manggar,ID,80.17,moderate rain,-2.8833,108.2667,Guest Hotel
15,Itarema,BR,85.50,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
...,...,...,...,...,...,...,...
1931,Sand Springs,US,82.11,broken clouds,36.1398,-96.1089,Magnuson Hotel Sand Springs-Tulsa West
1934,Neftcala,AZ,81.55,scattered clouds,39.3742,49.2472,Otel restoran
1935,Morales,CO,75.52,few clouds,2.7570,-76.6172,Finca Santa Catalina
1936,Wuning,CN,75.31,broken clouds,29.2589,120.2311,Fu Du Hotel
1941,Barreirinhas,BR,87.76,light rain,-2.7469,-42.8264,Gran Lençóis Flat Residence

In [2]:
hotel_df.count()

NameError: name 'hotel_df' is not defined

In [3]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

NameError: name 'hotel_df' is not defined

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file)

In [32]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))